/* @import url (https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css); */




body {
  margin: 0;
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: tan;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
  font-weight: bold;
}

.container {
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.input {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 25px;
  width: 300px;
  height: 25px;
}

/* .mainlist {
  display: flex;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  margin-top: 30px;
  column-count: 3;
  list-style-type: none;
  display: inline-block;
} */

.list-item {
  display: flex;
  background-color: moccasin;
  /* margin: 20px; */
  padding: 20px;
  margin-bottom: 10px;
  width: 70%;
  text-align: center;
  border-style:solid;
  font-size: 10px;
}

.list {
  /* -webkit-column-count: 3;
  -moz-column-count: 3; */
  column-count: 3;
}

ul {
  /* margin-top: 20px; */
  list-style-type: none;
  display: inline-block;
}

/* inline block...fix uneven boxes */
/* https://stackoverflow.com/questions/25800067/how-to-divide-list-in-a-single-ul-into-3-columns */
/* create 3 rows */
/*  
newsletter {
  margin: 20px;
} */

button {
  margin-bottom: 10px;
  
}

.navbar {
  padding: 5px;
  border-radius: 5px solid black;
  text-align: center;

}

a {
  /* font-stretch: expanded; */
  font-weight: bold;
  /* background-color: white;; */
}

.thing {
  text-align: center;
  /* padding: 8px; */
  margin-bottom: -20px;
  margin-top: 5px;
}

/* .h1 {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: white;
  display: inline-flex;
  text-align: center;
} */

/* .imglogo {
  margin-top: -40px;
} */